<%- include("partials/header") %>




<div class="box">
	<form action="/compose" method="get">
		<input type="submit" class="btn btn-lg post-btn" value="+ New Post">
	</form>
</div>

<h1>Hello</h1>
<p> <%=topContent%> </p>

<% contents.forEach(content => { %>

	<h1><%=content.title%></h1>
	<p> <%=content.body.slice(0, 100) + '...'%> <a href="/posts/<%=(content.title.toLowerCase()).replace(' ', '-')%>">Read More</a> </p>	

<%})%>



<%- include("partials/footer") %>
