<%- include("partials/header") %>





<h1>Hello</h1>
<p> <%=topContent%> </p>

<% contents.forEach(content => { %>

	<h1><%=content.title%></h1>
	<p> <%=content.body.slice(0, 100) + '...'%> <a href="/posts/<%=(content.title.toLowerCase()).replace(' ', '-')%>">Read More</a> </p>	

<%})%>



<%- include("partials/footer") %>
